Plugins>EVQuant, "EVQuant Analysis", EVQ.EVQ_Analysis_("all")
Plugins>EVQuant, "EVQuant Size analysis", EVQ.EVQ_sizing_analysis
Plugins>EVQuant, "EVQuant Immuno analysis", EVQ.EVQ_Analysis_("immuno")
Plugins>EVQuant, "-","-"
Plugins>EVQuant>EVQuant Tools, "EVQuant calibration (threshold)", EVQ.EVQ_("calibration")
Plugins>EVQuant>EVQuant Tools, "EVQuant calibration (eost)", EVQ.EVQ_("eost")
Plugins>EVQuant>EVQuant Tools, "EVQuant calibration (sizing)", EVQ.EVQ_("Sizing")
Plugins>EVQuant>EVQuant Tools, "EVQuant calibration (combination)", EVQ.EVQ_("all")
